{% extends "core/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<!-- HERO SECTION -->
<div class="container mt-md-5 mb-5">
    <div class="row gy-5 justify-content-between">
        <div class="col-12 col-lg-6 col-xl-5">
            <h1 class="display-3 fw-bold pt-5">Hayalinizdeki Evi Arayın...</h1>
            <p class="lead mt-4">Meta Emlak ev sahibi olmanın modern yolu. <br>Sizde Mülklerinizi Meta Emlak aracılığıyla satışa çıkartabilirsiniz.</p>
            <div class="border-herocard mt-4 d-flex p-2 justify-content-around card-help">
                <div>
                    <h6>İlçe</h6>
                    <small>Bağdat Cad. Kadıköy</small>
                </div>
                <div>
                    <h6>Şehir</h6>
                    <small>İstanbul</small>
                </div>
                <button type="button" class="btn btn-primary ps-3 pe-3">Ara</button>
            </div>
        </div>
        <div class="col-12 col-lg-5 hero-img position-relative">
            <div class="bg-white card card-hero p-2 position-absolute" >
                <img src="{% static 'image/image.png' %}" class="card-img object-fit-contain img-fluid" alt="Loading...">
                <h5 class="text-info">5.999.000₺</h5>
                <div class="d-flex justify-content-between">
                    <h6>Villa</h6>
                    <div>
                        <img src="{% static 'image/Vector.png' %}" alt="Loading..."> <small>3</small>
                        <div class="vr"></div>
                        <img src="{% static 'image/Group.png' %}" alt="Loading..."> <small>2</small>
                    </div>
                </div>
                <small>Suadiye sahil, Kadıköy, İstanbul</small>
            </div>
        </div>
    </div>
</div>

<!-- YARDIM SECTİONU -->
<div class="container mt-5" id="about">
    <h1 class="text-center fw-bold">Size Nasıl Yardımcı Olabiliriz?</h1>
    <div class="row justify-content-around mt-5 gy-5">
        <div class="col-12 col-md-3 text-center">
            <div class="card card-help border-0 p-2">
                <img class="card-img-top w-25 m-auto" src="{% static 'image/icon 01.png' %}" alt="Ev Satın Alma">
                <h5 class="pt-3">Ev Satın alma</h5>
                <p class="lead">Web sitesinde satılık yüzlerce ev mevcut olduğundan, Meta Emlak sizi güzel bir evle eşleştirebilir.</p>
            </div>
        </div>
        <div class="col-12 col-md-3 text-center">
            <div class="card card-help border-0 p-2">
                <img class="card-img-top w-25 m-auto" src="{% static 'image/icon 02.png' %}" alt="Ev Kiralama">
                <h5 class="pt-3">Ev Kiralama</h5>
                <p class="lead">Meta Emlak, 35'ten fazla filtre ve özel anahtar kelime aramasıyla size en uygun evi bulmanıza yardımcı olabilir.</p>
            </div>
        </div>
        <div class="col-12 col-md-3 text-center">
            <div class="card card-help border-0 p-2">
                <img class="card-img-top w-25 m-auto" src="{% static 'image/icon 03.png' %}" alt="Lokasyonlar">
                <h5 class="pt-1">Lokasyonları Görün</h5>
                <p class="lead">Diğer İlan sitelerine nazaran daha özgün evleri bulabilirsiniz</p>
            </div>
        </div>
    </div>
</div>

<!-- PROPERTY TYPES -->
<div class="container mt-5 mb-5" id="features">
    <div class="row">
        <div class="col-12 col-md-6">
            <h1 class="display-4 fw-bold">Son İlanları görüntüleyin</h1>
            <p class="lead">Sizin için en uygun satılık ve kiralık evleri görüntüleyin</p>
        </div>
        <div class="col-12 col-md-6 d-flex justify-content-md-end align-content-end">
            <div class="dropdown">
                <button class="btn btn-outline-info dropdown-toggle" type="button" data-bs-toggle="dropdown">
                    <small>Ev Türü</small>
                </button>
                <ul class="dropdown-menu bg-info-subtle lead">
                    <li><a class="dropdown-item" href="#">Köşk</a></li>
                    <li><a class="dropdown-item" href="#">Villa</a></li>
                    <li><a class="dropdown-item" href="#">Rezidans</a></li>
                    <li><a class="dropdown-item" href="#">Apartman</a></li>
                </ul>
            </div>
            <div>
                <a href="{% url 'all_properties' %}" class="btn btn-primary ms-1 ms-md-5">
    <small>Tüm ilanları görüntüleyin</small>
</a>

            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-around g-4 mt-3 ms-2 me-2">
        {% for p in properties %}
        <div class="card card-help col-12 col-lg-6 mb-3 pb-1" style="max-width: 580px;">
            <div class="row g-0">
                <div class="col-md-4 pt-3">
                    <img src="{{ p.image.url }}" class="img-fluid rounded-start" alt="Property Image">
                </div>
                <div class="col-10 col-md-7">
                    <div class="card-body">
                        <h4 class="card-title text-info">${{ p.price }}</h4>
                        <h5>{{ p.title }}</h5>
                        <p>{{ p.address }}</p>
                        <div>
                            <img src="{% static 'image/beds.png' %}" alt="Beds"> 
                            <small class="me-4">{{ p.bedrooms }} Beds</small>
                            <img src="{% static 'image/bath.png' %}" alt="Bath"> 
                            <small>{{ p.bathrooms }} Bath</small>
                        </div>
                        <a href="{% url 'property_detail' p.pk %}" class="btn btn-outline-primary mt-2">
                            <small>View Details</small>
                        </a>
                    </div>
                </div>
                <div class="col-1 pt-4">
                    <button class="btn btn-outline-primary"><i class="bi bi-heart"></i></button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <img class="d-flex m-auto mt-3" src="{% static 'image/arrow.png' %}" alt="Arrow">
</div>

<!-- TESTIMONIALS -->
<div class="bg-light-subtle pb-3">
    <div class="testimonial">
        <div class="container mt-5 mb-5">
            <div class="text-center">
                <h1 class="pt-3">TESTIMONIALS</h1>
                <p class="lead">Our Clients send us bunch of smilies with our services and we love them</p>
                <img class="img-fluid" src="{% static 'image/Ellipse 50.png' %}" alt="Client">
                <div class="card-testimonial bg-white m-auto col-lg-6 col-md-8 col-12">
                    <div class="card-body text-center p-3">
                        <p class="card-text">"We are very pleased with the way Besnik handled our purchase of a lake home. He was prompt, friendly, and very knowledgeable. He followed up on any and all concerns"</p>
                        <h5 class="card-title">Becky Nelson</h5>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star"></i>
                    </div>
                    <div class="corner"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- TALK TO AGENT -->
<div class="bg-agent pt-5 pb-5 mb-5" id="contact">
    <div class="container pt-md-5 pb-md-5">
        <div class="row justify-content-between">
            <div class="col-12 col-lg-4 col-md-6">
                <h1 class="text-white">Talk to a Redfin Agent</h1>
                <p class="text-white-50 lead">Start your search with an expert local agent—there’s no pressure or obligation.</p>
            </div>
            <div class="col-12 col-lg-3 col-md-5">
                <form action="" method="get">
                    <label for="inputSearch" class="form-label text-white pt-3 pb-2">Where are you searching for homes?</label>
                    <div class="d-flex">
                        <input type="search" id="inputSearch" class="form-control rounded-0 rounded-start-2 p-3"
                               placeholder="City, Address, Zip">
                        <button class="bg-primary text-white border-0 pb-1 ps-3 pe-3 rounded-end-2" type="submit">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
